<div class="page-container">
  <h1 class="page-title">TERMS OF SERVICE</h1>
  
  <div class="page-content-wrapper rte">
    <p><strong>OVERVIEW</strong></p>
    <p>THIS WEBSITE IS OPERATED BY TWOTISM. THROUGHOUT THE SITE, THE TERMS "WE", "US" AND "OUR" REFER TO TWOTISM. TWOTISM OFFERS THIS WEBSITE, INCLUDING ALL INFORMATION, TOOLS, AND SERVICES TO YOU, THE USER, CONDITIONED UPON YOUR ACCEPTANCE OF ALL TERMS, CONDITIONS, POLICIES, AND NOTICES STATED HERE.</p>
    <p>BY VISITING OUR SITE OR PURCHASING FROM US, YOU ENGAGE IN OUR "SERVICE" AND AGREE TO BE BOUND BY THE FOLLOWING TERMS AND CONDITIONS ("TERMS OF SERVICE", "TERMS"), INCLUDING THOSE ADDITIONAL TERMS, CONDITIONS, AND POLICIES REFERENCED HEREIN OR AVAILABLE BY HYPERLINK. THESE TERMS OF SERVICE APPLY TO ALL USERS OF THE SITE.</p>
    <p>PLEASE READ THESE TERMS OF SERVICE CAREFULLY BEFORE ACCESSING OR USING OUR WEBSITE. BY ACCESSING OR USING ANY PART OF THE SITE, YOU AGREE TO BE BOUND BY THESE TERMS OF SERVICE. IF YOU DO NOT AGREE TO ALL THE TERMS AND CONDITIONS OF THIS AGREEMENT, THEN YOU MAY NOT ACCESS THE WEBSITE OR USE ANY SERVICES.</p>
    <p>ANY NEW FEATURES OR TOOLS WHICH ARE ADDED TO THE CURRENT STORE SHALL ALSO BE SUBJECT TO THE TERMS OF SERVICE. YOU CAN REVIEW THE MOST CURRENT VERSION OF THE TERMS OF SERVICE AT ANY TIME ON THIS PAGE. WE RESERVE THE RIGHT TO UPDATE, CHANGE, OR REPLACE ANY PART OF THESE TERMS OF SERVICE BY POSTING UPDATES AND CHANGES TO OUR WEBSITE. IT IS YOUR RESPONSIBILITY TO CHECK THIS PAGE PERIODICALLY FOR CHANGES.</p>
    <p>OUR STORE IS HOSTED ON SHOPIFY INC., WHICH PROVIDES THE ONLINE E-COMMERCE PLATFORM THAT ALLOWS US TO SELL OUR PRODUCTS AND SERVICES TO YOU.</p>

    <h3>SECTION 1 - ONLINE STORE TERMS</h3>
    <p>BY AGREEING TO THESE TERMS OF SERVICE, YOU CONFIRM THAT YOU ARE AT LEAST THE AGE OF MAJORITY IN YOUR STATE OR PROVINCE OF RESIDENCE, OR THAT YOU ARE THE AGE OF MAJORITY AND HAVE GIVEN US CONSENT TO ALLOW ANY OF YOUR MINOR DEPENDENTS TO USE THIS SITE.</p>
    <p>YOU MAY NOT USE OUR PRODUCTS FOR ANY ILLEGAL OR UNAUTHORIZED PURPOSE, NOR MAY YOU, IN THE USE OF THE SERVICE, VIOLATE ANY LAWS IN YOUR JURISDICTION (INCLUDING COPYRIGHT LAWS).</p>
    <p>YOU MUST NOT TRANSMIT ANY WORMS, VIRUSES, OR ANY CODE OF A DESTRUCTIVE NATURE. A BREACH OR VIOLATION OF ANY OF THE TERMS WILL RESULT IN AN IMMEDIATE TERMINATION OF YOUR SERVICES.</p>

    <h3>SECTION 2 - GENERAL CONDITIONS</h3>
    <p>WE RESERVE THE RIGHT TO REFUSE SERVICE TO ANYONE FOR ANY REASON AT ANY TIME.</p>
    <p>YOU UNDERSTAND THAT YOUR CONTENT (EXCLUDING CREDIT CARD INFORMATION) MAY BE TRANSFERRED UNENCRYPTED AND INVOLVE (A) TRANSMISSIONS OVER VARIOUS NETWORKS; AND (B) CHANGES TO CONFORM AND ADAPT TO TECHNICAL REQUIREMENTS OF CONNECTING NETWORKS OR DEVICES. CREDIT CARD INFORMATION IS ALWAYS ENCRYPTED DURING TRANSFER OVER NETWORKS.</p>
    <p>YOU AGREE NOT TO REPRODUCE, DUPLICATE, COPY, SELL, RESELL, OR EXPLOIT ANY PORTION OF THE SERVICE, USE OF THE SERVICE, OR ACCESS TO THE SERVICE WITHOUT EXPRESS WRITTEN PERMISSION BY US.</p>

    <h3>SECTION 3 - ACCURACY, COMPLETENESS AND TIMELINESS OF INFORMATION</h3>
    <p>WE ARE NOT RESPONSIBLE IF INFORMATION MADE AVAILABLE ON THIS SITE IS NOT ACCURATE, COMPLETE, OR CURRENT. THE MATERIAL ON THIS SITE IS PROVIDED FOR GENERAL INFORMATION ONLY AND SHOULD NOT BE RELIED UPON OR USED AS THE SOLE BASIS FOR MAKING DECISIONS WITHOUT CONSULTING PRIMARY, MORE ACCURATE, MORE COMPLETE, OR MORE TIMELY SOURCES OF INFORMATION. ANY RELIANCE ON THE MATERIAL ON THIS SITE IS AT YOUR OWN RISK.</p>
    <p>THIS SITE MAY CONTAIN CERTAIN HISTORICAL INFORMATION. HISTORICAL INFORMATION IS NOT CURRENT AND IS PROVIDED FOR YOUR REFERENCE ONLY. WE RESERVE THE RIGHT TO MODIFY THE CONTENTS OF THIS SITE AT ANY TIME, BUT WE HAVE NO OBLIGATION TO UPDATE ANY INFORMATION ON OUR SITE.</p>

    <h3>SECTION 4 - MODIFICATIONS TO THE SERVICE AND PRICES</h3>
    <p>PRICES FOR OUR PRODUCTS ARE SUBJECT TO CHANGE WITHOUT NOTICE.</p>
    <p>WE RESERVE THE RIGHT AT ANY TIME TO MODIFY OR DISCONTINUE THE SERVICE (OR ANY PART OR CONTENT THEREOF) WITHOUT NOTICE AT ANY TIME.</p>
    <p>WE SHALL NOT BE LIABLE TO YOU OR TO ANY THIRD PARTY FOR ANY MODIFICATION, PRICE CHANGE, SUSPENSION, OR DISCONTINUANCE OF THE SERVICE.</p>

    <h3>SECTION 5 - PRODUCTS OR SERVICES</h3>
    <p>CERTAIN PRODUCTS OR SERVICES MAY BE AVAILABLE EXCLUSIVELY ONLINE THROUGH THE WEBSITE. THESE PRODUCTS OR SERVICES MAY HAVE LIMITED QUANTITIES AND ARE SUBJECT TO RETURN OR EXCHANGE ONLY ACCORDING TO OUR SHIPPING AND RETURNS POLICY.</p>
    <p>WE HAVE MADE EVERY EFFORT TO DISPLAY THE COLORS AND IMAGES OF OUR PRODUCTS THAT APPEAR AT THE STORE AS ACCURATELY AS POSSIBLE. WE CANNOT GUARANTEE THAT YOUR COMPUTER MONITOR'S DISPLAY OF ANY COLOR WILL BE ACCURATE.</p>
    <p>WE RESERVE THE RIGHT, BUT ARE NOT OBLIGATED, TO LIMIT THE SALES OF OUR PRODUCTS OR SERVICES TO ANY PERSON, GEOGRAPHIC REGION, OR JURISDICTION. WE MAY EXERCISE THIS RIGHT ON A CASE-BY-CASE BASIS. WE RESERVE THE RIGHT TO LIMIT THE QUANTITIES OF ANY PRODUCTS OR SERVICES THAT WE OFFER. ALL DESCRIPTIONS OF PRODUCTS OR PRODUCT PRICING ARE SUBJECT TO CHANGE AT ANY TIME WITHOUT NOTICE, AT OUR SOLE DISCRETION. WE RESERVE THE RIGHT TO DISCONTINUE ANY PRODUCT AT ANY TIME.</p>
    <p>WE DO NOT WARRANT THAT THE QUALITY OF ANY PRODUCTS, SERVICES, INFORMATION, OR OTHER MATERIAL PURCHASED BY YOU WILL MEET YOUR EXPECTATIONS, OR THAT ANY ERRORS IN THE SERVICE WILL BE CORRECTED.</p>

    <h3>SECTION 6 - ACCURACY OF BILLING AND ACCOUNT INFORMATION</h3>
    <p>WE RESERVE THE RIGHT TO REFUSE ANY ORDER YOU PLACE WITH US. WE MAY, IN OUR SOLE DISCRETION, LIMIT OR CANCEL QUANTITIES PURCHASED PER PERSON, PER HOUSEHOLD, OR PER ORDER. THESE RESTRICTIONS MAY INCLUDE ORDERS PLACED BY OR UNDER THE SAME CUSTOMER ACCOUNT, THE SAME CREDIT CARD, AND/OR ORDERS THAT USE THE SAME BILLING AND/OR SHIPPING ADDRESS. IN THE EVENT THAT WE MAKE A CHANGE TO OR CANCEL AN ORDER, WE MAY ATTEMPT TO NOTIFY YOU BY CONTACTING THE EMAIL AND/OR BILLING ADDRESS/PHONE NUMBER PROVIDED WHEN THE ORDER WAS MADE. WE RESERVE THE RIGHT TO LIMIT OR PROHIBIT ORDERS THAT APPEAR TO BE PLACED BY DEALERS, RESELLERS, OR DISTRIBUTORS.</p>
    <p>YOU AGREE TO PROVIDE CURRENT, COMPLETE, AND ACCURATE PURCHASE AND ACCOUNT INFORMATION FOR ALL PURCHASES MADE AT OUR STORE. YOU AGREE TO PROMPTLY UPDATE YOUR ACCOUNT AND OTHER INFORMATION, INCLUDING YOUR EMAIL ADDRESS AND CREDIT CARD NUMBERS AND EXPIRATION DATES, SO THAT WE CAN COMPLETE YOUR TRANSACTIONS AND CONTACT YOU AS NEEDED.</p>

    <h3>SECTION 7 - OPTIONAL TOOLS</h3>
    <p>WE MAY PROVIDE YOU WITH ACCESS TO THIRD-PARTY TOOLS OVER WHICH WE NEITHER MONITOR NOR HAVE ANY CONTROL OR INPUT.</p>
    <p>YOU ACKNOWLEDGE AND AGREE THAT WE PROVIDE ACCESS TO SUCH TOOLS "AS IS" AND "AS AVAILABLE" WITHOUT ANY WARRANTIES, REPRESENTATIONS, OR CONDITIONS OF ANY KIND AND WITHOUT ANY ENDORSEMENT. WE SHALL HAVE NO LIABILITY WHATSOEVER ARISING FROM OR RELATING TO YOUR USE OF OPTIONAL THIRD-PARTY TOOLS.</p>
    <p>ANY USE BY YOU OF OPTIONAL TOOLS OFFERED THROUGH THE SITE IS ENTIRELY AT YOUR OWN RISK AND DISCRETION. WE MAY ALSO, IN THE FUTURE, OFFER NEW SERVICES AND/OR FEATURES THROUGH THE WEBSITE (INCLUDING THE RELEASE OF NEW TOOLS AND RESOURCES). SUCH NEW FEATURES SHALL BE SUBJECT TO THESE TERMS OF SERVICE.</p>

    <h3>SECTION 8 - THIRD-PARTY LINKS</h3>
    <p>CERTAIN CONTENT, PRODUCTS, AND SERVICES AVAILABLE VIA OUR SERVICE MAY INCLUDE MATERIALS FROM THIRD-PARTIES.</p>
    <p>THIRD-PARTY LINKS ON THIS SITE MAY DIRECT YOU TO THIRD-PARTY WEBSITES THAT ARE NOT AFFILIATED WITH US. WE ARE NOT RESPONSIBLE FOR EXAMINING OR EVALUATING THE CONTENT OR ACCURACY, AND WE DO NOT WARRANT AND WILL NOT HAVE ANY LIABILITY OR RESPONSIBILITY FOR ANY THIRD-PARTY MATERIALS OR WEBSITES, OR FOR ANY OTHER MATERIALS, PRODUCTS, OR SERVICES OF THIRD-PARTIES.</p>
    <p>WE ARE NOT LIABLE FOR ANY HARM OR DAMAGES RELATED TO THE PURCHASE OR USE OF GOODS, SERVICES, RESOURCES, CONTENT, OR ANY OTHER TRANSACTIONS MADE IN CONNECTION WITH ANY THIRD-PARTY WEBSITES. PLEASE REVIEW CAREFULLY THE THIRD-PARTY'S POLICIES AND PRACTICES AND MAKE SURE YOU UNDERSTAND THEM BEFORE YOU ENGAGE IN ANY TRANSACTION.</p>

    <h3>SECTION 9 - USER COMMENTS, FEEDBACK AND OTHER SUBMISSIONS</h3>
    <p>IF, AT OUR REQUEST OR WITHOUT IT, YOU SEND CREATIVE IDEAS, SUGGESTIONS, PROPOSALS, PLANS, OR OTHER MATERIALS (COLLECTIVELY, 'COMMENTS'), YOU AGREE THAT WE MAY, AT ANY TIME, WITHOUT RESTRICTION, EDIT, COPY, PUBLISH, DISTRIBUTE, TRANSLATE, AND OTHERWISE USE THEM IN ANY MEDIUM. WE ARE UNDER NO OBLIGATION (1) TO MAINTAIN ANY COMMENTS IN CONFIDENCE; (2) TO PAY COMPENSATION FOR ANY COMMENTS; OR (3) TO RESPOND TO ANY COMMENTS.</p>
    <p>WE MAY, BUT HAVE NO OBLIGATION TO, MONITOR, EDIT, OR REMOVE CONTENT THAT WE DETERMINE IN OUR SOLE DISCRETION ARE UNLAWFUL, OFFENSIVE, THREATENING, LIBELOUS, DEFAMATORY, OBSCENE, OR OTHERWISE OBJECTIONABLE OR VIOLATES ANY PARTY’S INTELLECTUAL PROPERTY OR THESE TERMS OF SERVICE.</p>
    <p>YOU AGREE THAT YOUR COMMENTS WILL NOT VIOLATE ANY RIGHT OF ANY THIRD PARTY, INCLUDING COPYRIGHT, TRADEMARK, PRIVACY, PERSONALITY, OR OTHER PERSONAL OR PROPRIETARY RIGHT. YOU FURTHER AGREE THAT YOUR COMMENTS WILL NOT CONTAIN LIBELOUS OR UNLAWFUL, ABUSIVE, OR OBSCENE MATERIAL, OR CONTAIN ANY COMPUTER VIRUS OR OTHER MALWARE. YOU MAY NOT USE A FALSE EMAIL ADDRESS, PRETEND TO BE SOMEONE OTHER THAN YOURSELF, OR MISLEAD US OR THIRD PARTIES AS TO THE ORIGIN OF ANY COMMENTS.</p>

    <h3>SECTION 10 - PERSONAL INFORMATION</h3>
    <p>YOUR SUBMISSION OF PERSONAL INFORMATION THROUGH THE STORE IS GOVERNED BY OUR PRIVACY POLICY.</p>

    <h3>SECTION 11 - ERRORS, INACCURACIES AND OMISSIONS</h3>
    <p>OCCASIONALLY THERE MAY BE INFORMATION ON OUR SITE OR IN THE SERVICE THAT CONTAINS TYPOGRAPHICAL ERRORS, INACCURACIES, OR OMISSIONS THAT MAY RELATE TO PRODUCT DESCRIPTIONS, PRICING, PROMOTIONS, OFFERS, PRODUCT SHIPPING CHARGES, TRANSIT TIMES, AND AVAILABILITY. WE RESERVE THE RIGHT TO CORRECT ANY ERRORS, INACCURACIES, OR OMISSIONS, AND TO CHANGE OR UPDATE INFORMATION OR CANCEL ORDERS IF ANY INFORMATION IS INACCURATE AT ANY TIME WITHOUT PRIOR NOTICE (INCLUDING AFTER YOU HAVE SUBMITTED YOUR ORDER).</p>
    <p>WE UNDERTAKE NO OBLIGATION TO UPDATE, AMEND, OR CLARIFY INFORMATION IN THE SERVICE OR ON ANY RELATED WEBSITE, INCLUDING PRICING INFORMATION, EXCEPT AS REQUIRED BY LAW.</p>

    <h3>SECTION 12 - PROHIBITED USES</h3>
    <p>IN ADDITION TO OTHER PROHIBITIONS SET FORTH IN THE TERMS OF SERVICE, YOU ARE PROHIBITED FROM USING THE SITE OR ITS CONTENT: (A) FOR ANY UNLAWFUL PURPOSE; (B) TO SOLICIT OTHERS TO PERFORM OR PARTICIPATE IN ANY UNLAWFUL ACTS; (C) TO VIOLATE ANY LAWS OR REGULATIONS; (D) TO INFRINGE UPON OR VIOLATE OUR INTELLECTUAL PROPERTY RIGHTS OR THE INTELLECTUAL PROPERTY RIGHTS OF OTHERS; (E) TO HARASS, ABUSE, HARM, DEFAME, SLANDER, DISPARAGE, INTIMIDATE, OR DISCRIMINATE; (F) TO SUBMIT FALSE OR MISLEADING INFORMATION; (G) TO UPLOAD OR TRANSMIT VIRUSES OR MALICIOUS CODE; (H) TO COLLECT OR TRACK THE PERSONAL INFORMATION OF OTHERS; (I) TO SPAM, PHISH, PHARM, SPIDER, CRAWL, OR SCRAPE; (J) FOR ANY OBSCENE OR IMMORAL PURPOSE; OR (K) TO INTERFERE WITH OR CIRCUMVENT THE SECURITY FEATURES OF THE SERVICE. WE RESERVE THE RIGHT TO TERMINATE YOUR USE OF THE SERVICE FOR VIOLATING ANY OF THE PROHIBITED USES.</p>

    <h3>SECTION 13 - DISCLAIMER OF WARRANTIES; LIMITATION OF LIABILITY</h3>
    <p>WE DO NOT GUARANTEE, REPRESENT, OR WARRANT THAT YOUR USE OF OUR SERVICE WILL BE UNINTERRUPTED, TIMELY, SECURE, OR ERROR-FREE. WE DO NOT WARRANT THAT THE RESULTS THAT MAY BE OBTAINED FROM THE USE OF THE SERVICE WILL BE ACCURATE OR RELIABLE.</p>
    <p>YOU AGREE THAT FROM TIME TO TIME WE MAY REMOVE THE SERVICE FOR INDEFINITE PERIODS OF TIME OR CANCEL THE SERVICE AT ANY TIME, WITHOUT NOTICE TO YOU.</p>
    <p>YOU EXPRESSLY AGREE THAT YOUR USE OF, OR INABILITY TO USE, THE SERVICE IS AT YOUR SOLE RISK. THE SERVICE AND ALL PRODUCTS DELIVERED TO YOU ARE PROVIDED 'AS IS' AND 'AS AVAILABLE' FOR YOUR USE, WITHOUT ANY REPRESENTATION, WARRANTIES, OR CONDITIONS OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING ALL IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, DURABILITY, TITLE, AND NON-INFRINGEMENT.</p>
    <p>IN NO CASE SHALL TWOTISM, OUR DIRECTORS, OFFICERS, EMPLOYEES, AFFILIATES, AGENTS, CONTRACTORS, SUPPLIERS, SERVICE PROVIDERS, OR LICENSORS BE LIABLE FOR ANY INJURY, LOSS, CLAIM, OR ANY DIRECT, INDIRECT, INCIDENTAL, PUNITIVE, SPECIAL, OR CONSEQUENTIAL DAMAGES OF ANY KIND, INCLUDING LOST PROFITS, LOST REVENUE, LOST SAVINGS, LOSS OF DATA, REPLACEMENT COSTS, OR ANY SIMILAR DAMAGES, WHETHER BASED IN CONTRACT, TORT (INCLUDING NEGLIGENCE), STRICT LIABILITY OR OTHERWISE, ARISING FROM YOUR USE OF THE SERVICE OR ANY PRODUCTS PROCURED USING THE SERVICE, EVEN IF ADVISED OF THEIR POSSIBILITY.</p>

    <h3>SECTION 14 - INDEMNIFICATION</h3>
    <p>YOU AGREE TO INDEMNIFY, DEFEND, AND HOLD HARMLESS TWOTISM AND OUR PARTNERS, OFFICERS, DIRECTORS, AGENTS, CONTRACTORS, LICENSORS, SERVICE PROVIDERS, AND EMPLOYEES HARMLESS FROM ANY CLAIM OR DEMAND, INCLUDING REASONABLE ATTORNEYS’ FEES, MADE BY ANY THIRD PARTY DUE TO OR ARISING OUT OF YOUR BREACH OF THESE TERMS OF SERVICE OR THE DOCUMENTS THEY INCORPORATE BY REFERENCE, OR YOUR VIOLATION OF ANY LAW OR THE RIGHTS OF A THIRD PARTY.</p>

    <h3>SECTION 15 - SEVERABILITY</h3>
    <p>IN THE EVENT THAT ANY PROVISION OF THESE TERMS OF SERVICE IS DETERMINED TO BE UNLAWFUL, VOID, OR UNENFORCEABLE, SUCH PROVISION SHALL NONETHELESS BE ENFORCEABLE TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW, AND THE UNENFORCEABLE PORTION SHALL BE DEEMED TO BE SEVERED FROM THESE TERMS OF SERVICE, SUCH DETERMINATION SHALL NOT AFFECT THE VALIDITY AND ENFORCEABILITY OF ANY OTHER REMAINING PROVISIONS.</p>

    <h3>SECTION 16 - TERMINATION</h3>
    <p>THE OBLIGATIONS AND LIABILITIES OF THE PARTIES INCURRED PRIOR TO THE TERMINATION DATE SHALL SURVIVE THE TERMINATION OF THIS AGREEMENT FOR ALL PURPOSES.</p>
    <p>THESE TERMS OF SERVICE ARE EFFECTIVE UNLESS AND UNTIL TERMINATED BY EITHER YOU OR US. YOU MAY TERMINATE THESE TERMS OF SERVICE AT ANY TIME BY NOTIFYING US THAT YOU NO LONGER WISH TO USE OUR SERVICES, OR WHEN YOU CEASE USING OUR SITE.</p>
    <p>IF IN OUR SOLE JUDGMENT YOU FAIL, OR WE SUSPECT THAT YOU HAVE FAILED, TO COMPLY WITH ANY TERM OR PROVISION OF THESE TERMS OF SERVICE, WE ALSO MAY TERMINATE THIS AGREEMENT AT ANY TIME WITHOUT NOTICE AND YOU WILL REMAIN LIABLE FOR ALL AMOUNTS DUE UP TO AND INCLUDING THE DATE OF TERMINATION.</p>

    <h3>SECTION 17 - ENTIRE AGREEMENT</h3>
    <p>THE FAILURE OF US TO EXERCISE OR ENFORCE ANY RIGHT OR PROVISION OF THESE TERMS OF SERVICE SHALL NOT CONSTITUTE A WAIVER OF SUCH RIGHT OR PROVISION.</p>
    <p>THESE TERMS OF SERVICE AND ANY POLICIES OR OPERATING RULES POSTED BY US ON THIS SITE CONSTITUTE THE ENTIRE AGREEMENT AND UNDERSTANDING BETWEEN YOU AND US AND GOVERN YOUR USE OF THE SERVICE, SUPERSEDING ANY PRIOR OR CONTEMPORANEOUS AGREEMENTS, COMMUNICATIONS, AND PROPOSALS, WHETHER ORAL OR WRITTEN, BETWEEN YOU AND US.</p>

    <h3>SECTION 18 - GOVERNING LAW</h3>
    <p>THESE TERMS OF SERVICE AND ANY SEPARATE AGREEMENTS WHEREBY WE PROVIDE YOU SERVICES SHALL BE GOVERNED BY AND CONSTRUED IN ACCORDANCE WITH THE LAWS OF THE STATE AND COUNTRY OF REGISTERED BUSINESS OPERATIONS.</p>

    <h3>SECTION 19 - CHANGES TO TERMS OF SERVICE</h3>
    <p>YOU CAN REVIEW THE MOST CURRENT VERSION OF THE TERMS OF SERVICE AT ANY TIME ON THIS PAGE.</p>
    <p>WE RESERVE THE RIGHT, AT OUR SOLE DISCRETION, TO UPDATE, CHANGE, OR REPLACE ANY PART OF THESE TERMS OF SERVICE BY POSTING UPDATES AND CHANGES TO OUR WEBSITE. IT IS YOUR RESPONSIBILITY TO CHECK OUR WEBSITE PERIODICALLY FOR CHANGES.</p>

    <h3>SECTION 20 - CONTACT INFORMATION</h3>
    <p>QUESTIONS ABOUT THE TERMS OF SERVICE SHOULD BE SENT TO US BY SUBMITTING A MESSAGE IN THE CONTACT FORM LOCATED IN THE FOOTER.</p>
  </div>
</div>

{% schema %}
{
  "name": "Terms Content",
  "settings": []
}
{% endschema %}
