<div class="page-container">
  <h1 class="page-title">PRIVACY POLICY</h1>
  
  <div class="page-content-wrapper rte">
    <p><strong>PRIVACY POLICY</strong></p>
    <p>THIS PRIVACY POLICY DESCRIBES HOW TWOTISM (THE "SITE" OR "WE") COLLECTS, USES, AND DISCLOSES YOUR PERSONAL INFORMATION WHEN YOU VISIT OR MAKE A PURCHASE FROM THE SITE.</p>

    <h3>SECTION 1 - COLLECTING PERSONAL INFORMATION</h3>
    <p>WHEN YOU VISIT THE SITE, WE COLLECT CERTAIN INFORMATION ABOUT YOUR DEVICE, YOUR INTERACTION WITH THE SITE, AND INFORMATION NECESSARY TO PROCESS YOUR PURCHASES. WE MAY ALSO COLLECT ADDITIONAL INFORMATION IF YOU CONTACT US FOR CUSTOMER SUPPORT. IN THIS PRIVACY POLICY, WE REFER TO ANY INFORMATION THAT CAN UNIQUELY IDENTIFY AN INDIVIDUAL (INCLUDING THE INFORMATION BELOW) AS "PERSONAL INFORMATION". SEE THE LIST BELOW FOR MORE INFORMATION ON WHAT PERSONAL INFORMATION WE COLLECT AND WHY.</p>
    
    <p><strong>DEVICE INFORMATION</strong></p>
    <ul>
      <li><strong>EXAMPLES OF PERSONAL INFORMATION COLLECTED:</strong> VERSION OF WEB BROWSER, IP ADDRESS, TIME ZONE, COOKIE INFORMATION, WHAT SITES OR PRODUCTS YOU VIEW, SEARCH TERMS, AND HOW YOU INTERACT WITH THE SITE.</li>
      <li><strong>PURPOSE OF COLLECTION:</strong> TO LOAD THE SITE ACCURATELY FOR YOU, AND TO PERFORM ANALYTICS ON SITE USAGE TO OPTIMIZE OUR SITE.</li>
      <li><strong>SOURCE OF COLLECTION:</strong> COLLECTED AUTOMATICALLY WHEN YOU ACCESS OUR SITE USING COOKIES, LOG FILES, WEB BEACONS, TAGS, OR PIXELS.</li>
      <li><strong>DISCLOSURE FOR A BUSINESS PURPOSE:</strong> SHARED WITH OUR PROCESSOR SHOPIFY.</li>
    </ul>

    <p><strong>ORDER INFORMATION</strong></p>
    <ul>
      <li><strong>EXAMPLES OF PERSONAL INFORMATION COLLECTED:</strong> NAME, BILLING ADDRESS, SHIPPING ADDRESS, PAYMENT INFORMATION (INCLUDING CREDIT CARD NUMBERS), EMAIL ADDRESS, AND PHONE NUMBER.</li>
      <li><strong>PURPOSE OF COLLECTION:</strong> TO PROVIDE PRODUCTS OR SERVICES TO YOU TO FULFILL OUR CONTRACT, TO PROCESS YOUR PAYMENT INFORMATION, ARRANGE FOR SHIPPING, AND PROVIDE YOU WITH INVOICES AND/OR ORDER CONFIRMATIONS, COMMUNICATE WITH YOU, SCREEN OUR ORDERS FOR POTENTIAL RISK OR FRAUD, AND WHEN IN LINE WITH THE PREFERENCES YOU HAVE SHARED WITH US, PROVIDE YOU WITH INFORMATION OR ADVERTISING RELATING TO OUR PRODUCTS OR SERVICES.</li>
      <li><strong>SOURCE OF COLLECTION:</strong> COLLECTED FROM YOU.</li>
      <li><strong>DISCLOSURE FOR A BUSINESS PURPOSE:</strong> SHARED WITH OUR PROCESSOR SHOPIFY.</li>
    </ul>

    <h3>SECTION 2 - SHARING PERSONAL INFORMATION</h3>
    <p>WE SHARE YOUR PERSONAL INFORMATION WITH SERVICE PROVIDERS TO HELP US PROVIDE OUR SERVICES AND FULFILL OUR CONTRACTS WITH YOU, AS DESCRIBED ABOVE. FOR EXAMPLE:</p>
    <ul>
      <li>WE USE SHOPIFY TO POWER OUR ONLINE STORE. YOU CAN READ MORE ABOUT HOW SHOPIFY USES YOUR PERSONAL INFORMATION ON THEIR PRIVACY SITE.</li>
      <li>WE MAY SHARE YOUR PERSONAL INFORMATION TO COMPLY WITH APPLICABLE LAWS AND REGULATIONS, TO RESPOND TO A SUBPOENA, SEARCH WARRANT OR OTHER LAWFUL REQUEST FOR INFORMATION WE RECEIVE, OR TO OTHERWISE PROTECT OUR RIGHTS.</li>
    </ul>

    <h3>SECTION 3 - BEHAVIORAL ADVERTISING</h3>
    <p>AS DESCRIBED ABOVE, WE USE YOUR PERSONAL INFORMATION TO PROVIDE YOU WITH TARGETED ADVERTISEMENTS OR MARKETING COMMUNICATIONS WE BELIEVE MAY BE OF INTEREST TO YOU. FOR EXAMPLE, WE USE SHOPIFY AUDIENCES TO HELP US SHOW ADS ON OTHER WEBSITES WITH OUR AD PARTNERS TO BUYERS WHO COMPLETED PURCHASES WITH OTHER SHOPIFY MERCHANTS AND WHO MAY ALSO BE INTERESTED IN WHAT WE OFFER.</p>

    <h3>SECTION 4 - USING PERSONAL INFORMATION</h3>
    <p>WE USE YOUR PERSONAL INFORMATION TO PROVIDE OUR SERVICES TO YOU, WHICH INCLUDES: OFFERING PRODUCTS FOR SALE, PROCESSING PAYMENTS, SHIPPING AND FULFILLMENT OF YOUR ORDER, AND KEEPING YOU UP TO DATE ON NEW PRODUCTS, SERVICES, AND OFFERS.</p>

    <h3>SECTION 5 - LAWFUL BASIS</h3>
    <p>PURSUANT TO THE GENERAL DATA PROTECTION REGULATION ("GDPR"), IF YOU ARE A RESIDENT OF THE EUROPEAN ECONOMIC AREA ("EEA"), WE PROCESS YOUR PERSONAL INFORMATION UNDER THE FOLLOWING LAWFUL BASES:</p>
    <ul>
      <li>YOUR CONSENT;</li>
      <li>THE PERFORMANCE OF THE CONTRACT BETWEEN YOU AND THE SITE;</li>
      <li>COMPLIANCE WITH OUR LEGAL OBLIGATIONS;</li>
      <li>TO PROTECT YOUR VITAL INTERESTS;</li>
      <li>TO PERFORM A TASK CARRIED OUT IN THE PUBLIC INTEREST;</li>
      <li>FOR OUR LEGITIMATE INTERESTS, WHICH DO NOT OVERRIDE YOUR FUNDAMENTAL RIGHTS AND FREEDOMS.</li>
    </ul>

    <h3>SECTION 6 - RETENTION</h3>
    <p>WHEN YOU PLACE AN ORDER THROUGH THE SITE, WE WILL RETAIN YOUR PERSONAL INFORMATION FOR OUR RECORDS UNLESS AND UNTIL YOU ASK US TO ERASE THIS INFORMATION. FOR MORE INFORMATION ON YOUR RIGHT OF ERASURE, PLEASE SEE THE 'YOUR RIGHTS' SECTION BELOW.</p>

    <h3>SECTION 7 - AUTOMATIC DECISION-MAKING</h3>
    <p>IF YOU ARE A RESIDENT OF THE EEA, YOU HAVE THE RIGHT TO OBJECT TO PROCESSING BASED SOLELY ON AUTOMATED DECISION-MAKING (WHICH INCLUDES PROFILING), WHEN THAT DECISION-MAKING HAS A LEGAL EFFECT ON YOU OR OTHERWISE SIGNIFICANTLY AFFECTS YOU.</p>
    <p>WE ENGAGE IN FULLY AUTOMATED DECISION-MAKING THAT HAS A LEGAL OR OTHERWISE SIGNIFICANT EFFECT USING CUSTOMER DATA. OUR PROCESSOR SHOPIFY USES LIMITED AUTOMATED DECISION-MAKING TO PREVENT FRAUD THAT DOES NOT LEGALLY OR SIGNIFICANTLY AFFECT YOU (E.G. TEMPORARY DENIAL OF TRANSACTIONS DEEMED FRAUDULENT OR SUSPICIOUS).</p>

    <h3>SECTION 8 - YOUR RIGHTS (GDPR & CCPA)</h3>
    <p><strong>GDPR</strong></p>
    <p>IF YOU ARE A RESIDENT OF THE EEA, YOU HAVE THE RIGHT TO ACCESS THE PERSONAL INFORMATION WE HOLD ABOUT YOU, TO PORT IT TO A NEW SERVICE, AND TO ASK THAT YOUR PERSONAL INFORMATION BE CORRECTED, UPDATED, OR ERASED. IF YOU WOULD LIKE TO EXERCISE THESE RIGHTS, PLEASE CONTACT US THROUGH THE CONTACT FORM LOCATED IN the FOOTER SECTION.</p>
    <p>YOUR PERSONAL INFORMATION WILL BE INITIALLY PROCESSED IN IRELAND AND THEN WILL BE TRANSFERRED OUTSIDE OF EUROPE FOR STORAGE AND FURTHER PROCESSING, INCLUDING TO CANADA AND THE UNITED STATES. FOR MORE INFORMATION ON HOW DATA TRANSFERS COMPLY WITH THE GDPR, SEE SHOPIFY’S GDPR WHITE PAPER.</p>
    
    <p><strong>CCPA</strong></p>
    <p>IF YOU ARE A RESIDENT OF CALIFORNIA, YOU HAVE THE RIGHT TO ACCESS THE PERSONAL INFORMATION WE HOLD ABOUT YOU (ALSO KNOWN AS THE 'RIGHT TO KNOW'), TO PORT IT TO A NEW SERVICE, AND TO ASK THAT YOUR PERSONAL INFORMATION BE CORRECTED, UPDATED, OR ERASED. IF YOU WOULD LIKE TO EXERCISE THESE RIGHTS, PLEASE CONTACT US THROUGH THE FOOTER'S CONTACT FORM.</p>
    <p>IF YOU WOULD LIKE TO DESIGNATE AN AUTHORIZED AGENT TO SUBMIT THESE REQUESTS ON YOUR BEHALF, PLEASE ENSURE THAT THEY PROVIDE PROPER AUTHORIZATION SIGNATURES.</p>

    <h3>SECTION 9 - COOKIES</h3>
    <p>A COOKIE IS A SMALL AMOUNT OF INFORMATION THAT’S DOWNLOADED TO YOUR COMPUTER OR DEVICE WHEN YOU VISIT OUR SITE. WE USE A NUMBER OF DIFFERENT COOKIES, INCLUDING FUNCTIONAL, PERFORMANCE, ADVERTISING, AND SOCIAL MEDIA OR CONTENT COOKIES. COOKIES MAKE YOUR BROWSING EXPERIENCE BETTER BY ALLOWING THE WEBSITE TO REMEMBER YOUR ACTIONS AND PREFERENCES (SUCH AS LOGIN AND REGION SELECTION). THIS MEANS YOU DON’T HAVE TO RE-ENTER THIS INFORMATION EACH TIME YOU RETURN TO THE SITE OR BROWSE FROM ONE PAGE TO ANOTHER. COOKIES ALSO PROVIDE INFORMATION ON HOW PEOPLE USE THE WEBSITE, FOR INSTANCE WHETHER IT’S THEIR FIRST TIME VISITING OR IF THEY ARE A FREQUENT VISITOR.</p>
    <p>THE LENGTH OF TIME THAT A COOKIE REMAINS ON YOUR COMPUTER OR MOBILE DEVICE DEPENDS ON WHETHER IT IS A "PERSISTENT" OR "SESSION" COOKIE. SESSION COOKIES LAST UNTIL YOU STOP BROWSING AND PERSISTENT COOKIES LAST UNTIL THEY EXPIRE OR ARE DELETED.</p>

    <h3>SECTION 10 - CHANGES</h3>
    <p>WE MAY UPDATE THIS PRIVACY POLICY FROM TIME TO TIME IN ORDER TO REFLECT, FOR EXAMPLE, CHANGES TO OUR PRACTICES OR FOR OTHER OPERATIONAL, LEGAL, OR REGULATORY REASONS.</p>

    <h3>SECTION 11 - CONTACT</h3>
    <p>FOR MORE INFORMATION ABOUT OUR PRIVACY PRACTICES, IF YOU HAVE QUESTIONS, OR IF YOU WOULD LIKE TO MAKE A COMPLAINT, PLEASE CONTACT US BY WRITING TO US VIA THE CONTACT FORM CONFIGURED IN THE FOOTER OF THIS SITE.</p>
  </div>
</div>

{% schema %}
{
  "name": "Privacy Content",
  "settings": []
}
{% endschema %}
